<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">

  <title>
    EcoMart
  </title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            EcoMart
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'home' %}">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Categorylist' %}">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'topoffers' %}">
                Top Offers
              </a>
            </li>
             {% if request.user.is_authenticated %}
             {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register_cus' %}">
                Register
              </a>
            </li>
          </ul>
           {% endif %}
          {% if request.user.is_authenticated %}
       <div class="user_option">
            <a href="{% url 'cart:cart_detail' %}">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i><span>MY Cart</span>
            </a>
            <div class="user_option">
          <a href="{% url 'cart:myorder' %}">
              <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              <span>
                My Orders
              </span>
            </a> 
            <div class="user_option">
            <a href="{% url 'logout' %}">
              <i  aria-hidden="true"></i>
              <span>
               Logout
              </span>
            </a>
            {% else %}
              <div class="user_option">
            <a href="{% url 'login_cus' %}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>
                Login 
              </span>
            </a>
            {% endif %}
             
             
            {% comment %} <form class="form-inline ">
              <button class="btn nav_search-btn" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form> {% endcomment %}
          </div>
        </div>
      </nav>
    </header>
    {% block content %}
    
    {% endblock  %}
    </body>
    </html>